img{
    width: 250px;
    height: 250px;
    padding-left: 10px;
    padding-top: 10px;
}

.details{
    padding-top: 70px;
}

#upload{
    margin-top: 15px;
    margin-left: 95px;
}

.edit{
    position: relative;
}